:root{
    --yellow: #EBCC51;
    --darkyellow: #D3B749;
    --darkeryellow: #716226;
    --white: #fff;
    --black: #000000

}

h1{
    color: var(--darkeryellow);
}

body{
    background-color: var(--white);
    width: 100dvw;
    height: 100dvh;
    max-width: 539px;
    max-height: 871px;
    border: 10px solid var(--black);
}
.upperNav, .lowerNav {
    display: flex;
    flex-direction: row;
    background-color: var(--yellow);
    height: 2rem;
    width: 100vw;
    max-width: 539px;
}
.app-header{
    display: flex;
    align-items: center;
    
}